nav{ background-color: red;
    margin: 0;
    padding: 0;
    top: 0;
    height: 10%;
    width: 100%;
    overflow: hidden;}
.div1{ color: black;
    background-color: blue;
    margin: 0;
    padding: 0;
    height: 35vh;
    width: 100%;
overflow: hidden;}
.div2{background-color: yellow;
    margin: 0;
    padding: 0;
    height: 35vh;
    width: 100%;
    overflow: hidden;}
.div3{background-color: green;
    margin: 0;
    padding: 0;
    height: 35vh;
    width: 100%;
    overflow: hidden;}

    @media only screen and (max-width:768px) {
        .logo{
            background-color: rgb(225, 97, 118);
        }
    
        .div1{
            background-color: rgb(225, 44, 44);
            color: white;
        }
    
        .div2{
            background-color: rgb(26, 115, 66);
            color: white;
        }
    
        .div3{
            background-color: darkblue;
            color: white;
        }
    }
    @media only screen and (max-width: 576px) {
        .logo{
            background-color: rgb(76, 76, 177);
        }
    
        .div1{
            background-color: aqua;
            color: white;
        }
        
        .div2{
        background-color: purple;
        color: white;
        }
    
        .div3{
            background-color: darkblue;
            color: white;
        }
    }
