* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Goldman", cursive;
}
body {
  font-family: "Goldman", cursive;
  background-image: url("./img/hacker.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: 100px;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1{
  text-decoration-thickness: auto;
}
footer{
  height: 10vh;
  background: #00a8c7;
}
